body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.logo {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 0;
    background-image: url('large_logo.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
}


.cta-button {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
}

.feature-section {
    text-align: center;
    padding: 50px 0;
}

.feature {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.feature img {
    width: 300px;
    margin-right: 20px;
    border-radius: 50px;
    margin-left:20px;
}

.feature-text {
    text-align: center;
    margin-top: 20px;
}

.feature-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature-text p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.hero-button {
    margin-top: 20px;
    text-align: center;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

